
<ion-header >
    <ion-navbar transparent  [class.show-background]="showToolbar"  > 
        <ion-title color="light" [hidden]="!showToolbar">{{(item | async)?.title}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content  no-padding  class="content" (ionScroll)="onScroll($event)" [class.transition]="transition"  >
    <!--*********** Image header  ***********-->
    <div class="detail-header" [ngStyle]="{'background-image': 'url(' + (item | async)?.image + ')'}">
      <h3 class="detail-name "> {{(item | async)?.imageCaption}}</h3>
    </div>

     <!-- <ion-slide  [ngStyle]="{'background' : 'url(' + images.url + ')'}"></ion-slide> -->

    <!-- <ion-slides pager>
      <ng-container *ngFor="let images of  feed.images | slice:1">
        <ion-slide  [ngStyle]="{'background' : 'url(' + images.url + ')'}"></ion-slide>
      </ng-container>
    </ion-slides> -->

    <!--*********** Description ***********-->
    <ion-card>
      <ion-card-header no-margin>
        <h1>{{(item | async)?.title}}</h1>
      </ion-card-header>
      <ion-card-content>
        <div [innerHTML]="(item | async)?.fullText" ></div>
      </ion-card-content>
    </ion-card>

    <ion-item sticky>
      <!--Author Profile Image -->
      <ion-avatar item-left>
        <img [src]="(item | async)?.imgProfile">
      </ion-avatar>
      <!-- Author Name -->
      <p><b>Author:</b> {{(item | async)?.name}}</p>
      <!-- Post Date -->
      <p><b>Published on:</b> {{(item | async)?.postDate}}</p>
    </ion-item>
</ion-content>

