
<!-- Header & Navigation -->
<ion-header no-border  class="feed-header" >
  <ion-navbar color="white" style="background: none; border-bottom: none" >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
    <ion-buttons right>
      <button ion-button icon-only>
        <ion-icon name="md-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- FEED -->
<!--<ion-content fullscreen=""  no-paddding shrink-header  [setHeaderH]="'500'" [headerToHide]="'feed-header'">-->
<ion-content fullscreen=""  no-paddding shrink-header  [headerToHide]="'feed-header'">
  
  <!-- -------------------------------------------------------------------gotoToDetail(feed.key)
  this means, it will pick the id of the current feed item and send it as a paramether to goToDetail() -->
  <ion-card  tappable *ngFor="let feed of feedList  | async" (click)="goToDetail(feed.key)">
    <!-- Post Header -->
    <ion-item sticky>
      <!--Author Profile Image -->
      <ion-avatar item-left>
        <img [src]="feed.imgProfile">
      </ion-avatar>
      <!-- Author Name -->
      <h2>{{feed.name}}</h2>
      <!-- Post Date -->
      <p>{{feed.postDate}}</p>
    </ion-item>
    
    <!-- Post Image Slider -->
    <ion-slides pager>
        <ng-container *ngFor="let images of  feed.images | slice:1">
          <ion-slide  [ngStyle]="{'background' : 'url(' + images.url + ')'}"></ion-slide>
        </ng-container>
    </ion-slides>
    
    <!-- Post Description -->
    <ion-card-content>
      <ion-card-title>
        {{feed.title}}
      </ion-card-title>
      <p>
        {{feed.description}}
      </p>
    </ion-card-content>

    <!-- Post Options -->
    <ion-row>
        <ion-col>
          <button ion-button icon-left clear color="gray">
            <ion-icon name="md-heart"></ion-icon>
            <div>{{feed.like}}</div>
          </button>
        </ion-col>
        
        <ion-col>
          <button ion-button icon-left clear color="gray">
            <ion-icon name="md-chatboxes"></ion-icon>
            <div>{{feed.comment}}</div>
          </button>
        </ion-col>

        <ion-col center text-center> 
          <button ion-button icon-left clear color="pink">
            <ion-icon name="share"></ion-icon>     
          </button>
        </ion-col>
    </ion-row>
  </ion-card>

  <!-- <ion-fab right bottom>
      <button ion-fab color="amber"><ion-icon name="md-share"></ion-icon></button>
      <ion-fab-list side="top">
        <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
      </ion-fab-list>
  </ion-fab> -->
 
</ion-content>